body {
    background-color: #fafafa;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 100vh; /* Change this line */
    justify-content: center;
  }
  
  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  table {
    border-collapse: collapse;
    width: 600px;
    height: 600px;
    margin: 0 auto;
  }
  
  td {
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    font-weight: bold;
  }
  
  
  .winner {
    font-size: 24px;
    font-weight: bold;
    margin-top: 50px;
  }
  button {
    background-color: #3897f0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto; /* Add this line */
    display: block; /* Add this line */
  }
  td:hover {
    background-color: #FFE7CC;
  }
  
  button:hover {
    background-color: #ECF9FF;
  }
  
  body {
    background-image: url("3430.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  td.cell {
    width: 120px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    font-size: 72px;
    border: 10px solid #ECF9FF; /* Change this line */
    border-radius: 20px; /* Add this line */
  }
 td.cell-0 {
  border-top: none;
  border-left: none;
}
td.cell-1 {
  border-top: none;
}
td.cell-2 {
  border-top: none;
  border-right: none;
}
td.cell-3 {
  border-left: none;
}

td.cell-5 {
  border-right: none;
}
td.cell-6 {
  border-bottom: none;
  border-left: none;
}
td.cell-7 {
  border-bottom: none;
}
td.cell-8 {
  border-bottom: none;
  border-right: none;
}
